@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-primary font-sans antialiased m-0;
  }
  #root {
    @apply min-h-screen flex flex-col;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-surface-border shadow-premium;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.4);
  border-radius: 20px;
}

